all_genus_orfs_clustered_at_99_unique.*
CL*
HLD*
*nohup.out
assembly_blast_CL_141_BL_R2_R1.sh
all_assembled_no_refseqs_with_sample_name.fa
non_matched_refseqs.txt
all_assembled_no_refseqs_with_sample_name_no_path.fa
*no_path*
all_counts_with_seq_length.txt
all_counts_with_seq_length_zeros_removed.txt
all_seed_hier_output_with_sample_name.txt
annotated_assembly_counts_with_seq_length.txt
get_annotated_counts_output.txt
AitchisonTransform_input_for_stripcharts_merged_subsys_aitchison_input_data.txt
AitchisonTransform_input_for_stripcharts_merged_subsys_AitchisonTransformedDataForALDExInput.txt
ALDEx_output_for_stripcharts_merged_subsys.txt
AitchisonTransform_input_for_stripcharts_merged_subsys_AitchisonTransformedData.txt
ALDEx_output_for_stripcharts_ordered_by_effect.txt
AitchisonTransform_input_for_stripcharts_merged_subsys.txt
ALDEx_output_for_stripcharts.txt
.DS_Store
assembled_library_for_kegg.fa
constructed_library_for_kegg.faa

